body {
    background-color: rgb(148, 146, 146);
}

.block1 {
    display: flex;
    background-color: pink;
    justify-content: space-between;
}

.block1 .nav {
    display: flex;
}

.nav li {
    list-style: none;
    font-size: larger;
}

.block1 a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.block1 .piece {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.cube {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.cube .image img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.cube .text h2 {
    font-size: 30px;
    color: black;
}

.about {
    width: 100%;
    text-align: center;
}

.about h2 {
    padding: 20px;
    color: darkmagenta;
    font-size: 30px;
}

.about p {
    color: white;
    font-size: larger;
    padding: 10px;
    line-height: 1.5;
}